*{
	
	padding: 0;
	margin:0;
	font-size: 20px;
   /*outline: 1px solid black;*/
}
.titulo{
	color: white;
}
.btn{
	margin-top: 30px;
	background-color: #F9A91A !important;
    color: white !important;
	width: 150px;
	padding: 5px;
	border-radius: 5px;
	border-style: none;
}

.text-color{
	color: white;
}
.text-color, .selector{
	display: inline-block;
	font-family: 'Rokkitt', serif;
	margin-top: 30px;
	margin-bottom: 30px;
}
hr { 
   height: 5px;
   width: 5%; 
   margin-left: 10px;
 }
.text-header{
	color:white;
	font-family: 'Rokkitt', serif;
}
.parrafo{
	font-family: 'Roboto', sans-serif;
	color: white;

}
/*otra seccion*/
#nombre {
    background-color: #333333;
    height: 400px;
    padding: 4em;
}

#coder, #nombre {
    display: flex;
}
img {
    height: 400px;
    width: 100%;
}
#coder {
    height: 400px;
    width: 100%;
    background-color: lightyellow;
}
.white{
	color: white;
	width: 200px;
}
.form-control{
	width: 500px;

}
.puntaje{
	margin-top: 10px;
}
.col-md-5 {
    padding-right: 0 !important;
}
.input{
	margin-top: 10px;
	margin-left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.marcador{
	float: right;
}

